<h3>Data Types</h3>

In [1]:
#To add any comment just provide a # symbol before the text

In [2]:
#In python we can have one variable assignment to any datatype

In [3]:
#Example
a=5
#Can be
a="Python"

In [4]:
#So strings can be written in single quote or double quotes

a='Python'
b="MLisEasy"

In [7]:
#We can also wrap single quotes under double quotes
#For Example
string1="I can't go to party"

In [8]:
#We can print our variables in 2 ways here
string1

"I can't go to party"

In [9]:
print(string1) #This is the official way of printing

I can't go to party

In [12]:
#Now we can format the strings in 2 ways

age=15
name='Shubh'

print('my name is {} and I am {} years old'.format(name,age))

my name is Shubh and I am 15 years old

In [13]:
#2nd method
print(f'my name is {name} and I am {age} years old')

my name is Shubh and I am 15 years old

In [14]:
#In string we can have one more interesting thing called as indexing
#And note that indexing in python starts from 0
test="hello"

In [15]:
test[0]

'h'

In [16]:
#Now let's discuss about slicing

In [17]:
test[0:] #Here it grabs everything else after 0th index including the 0th index

'hello'

In [18]:
#We can also have some thing like upto which index
test[:3]

'hel'

In [20]:
#So here it grabs everything else based on upto but not including the specific index

In [21]:
#We can combine both the start and end index like
test[0:3]

'hel'

In [22]:
#Lists

In [23]:
#List is the collection of elements separated bt\y comma
list1=[1,2,3,4,5]

In [24]:
list1

[1, 2, 3, 4, 5]

In [32]:
list2=['b','c']

In [33]:
#We can add one more element at the end of list by using append method
list2.append('abc')

In [34]:
list2

['b', 'c', 'abc']

In [35]:
#We can assign any index with a different value 
list2[0]='MLisEasy'
list2

['MLisEasy', 'c', 'abc']

In [36]:
#We can also have nested lists
list2=['MLisEasy', 'c', ['abc','def']]

In [37]:
list2

['MLisEasy', 'c', ['abc', 'def']]

In [38]:
#We can index the list like we did in the string
list2[0]

'MLisEasy'

In [39]:
#If we want to check the 2nd list of the nested list
list2[2]

['abc', 'def']

In [40]:
#Now we can grab one element of the child list
list2[2][0]

'abc'

In [41]:
#Dictionary

In [42]:
#In dictionary we will have key value pair
dict1={1:'python','channel':'MLisEasy'}

In [45]:
#Indictionary we can grab the data by using either key in the bracket notation
dict1[1]

'python'

In [50]:
dict1['channel']

'MLisEasy'

In [1]:
#We can also have a list as the value in the dictionary
dict2={1:'python','youtube':['channel','MLisEasy']}

In [2]:
dict2['youtube']

['channel', 'MLisEasy']

In [3]:
dict2['youtube'][1]

'MLisEasy'

In [4]:
#We can also have nested dicts
dict3={1:'python','youtube':{'channel':['shubhashish','MLisEasy']}}

In [6]:
dict3['youtube']

{'channel': ['shubhashish', 'MLisEasy']}

In [7]:
dict3['youtube']['channel']

['shubhashish', 'MLisEasy']

In [8]:
dict3['youtube']['channel'][1]

'MLisEasy'

In [9]:
#Tuples

In [10]:
t=(1,2,3,4,5)

In [11]:
t[1]

2

In [12]:
#The key difference between a list and a tuple is tuple is immutable,means we can't change a tuple once created
t[1]

2

In [13]:
t[1]='New'

TypeError: 'tuple' object does not support item assignment

In [14]:
#Sets

In [15]:
s={1,2,3,4,5}

In [19]:
#We can create set in the following way also
#We can add an entire list
set([1,2,3])

{1, 2, 3}

In [20]:
#The only thing about set is it doesn't contain duplicate elements
set([1,1,1,1,1,4,4,4,4,3])

{1, 3, 4}

In [21]:
#We can use set to get the unique values in a list

In [22]:
#Comparision operator

In [23]:
1<5

True

In [24]:
1>5

False

In [25]:
'Good' != 'Bad'

True

In [26]:
#Conditional statement

In [27]:
#If-else

In [28]:
if 'a'=='a':
    print('both are equal')

both are equal

In [29]:
#condition-2
if 'a'!='a':
    print('both are equal')
else:
    print("It's false")

It's false

In [31]:
#Condition-3
if 5==5:
    print("one")
elif 7==7:
    print("Two")
else:
    print("Last")
    
#Notice that here although the elif condition is also True but it doesn't go to that condition as the first one is True

one

In [32]:
#For loop

In [33]:
#For loop is used to execute a sequence operation
#For example
test=[1,2,3,4,5,6,7]

for i in test:
    print(i)

1
2
3
4
5
6
7

In [34]:
#We can also have something else like
for i in test:
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [35]:
#While loop

a=0

while a<7:
    print(f'value of a is {a}')
    a=a+1

value of a is 0
value of a is 1
value of a is 2
value of a is 3
value of a is 4
value of a is 5
value of a is 6