In [1]:
#Let's say we have a list
list1=[1,2,3,4,5]

In [2]:
#We can cast that list into an array
import numpy as np

In [3]:
np.array(list1)

array([1, 2, 3, 4, 5])

In [4]:
#So this is what we have received is a 1-D array

In [5]:
# We can also have 2-D array from list of lists

In [6]:
#So what is list of lists, let's see

In [7]:
list2=[[1,2,3],[4,5,6],[7,8,9]]

In [8]:
#So when we have lists inisde a list or nested lists then it is called as list of lists

In [9]:
#Now let's pass it to numpy.array
np.array(list2)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [11]:
#So here we have a 2-D array, to know the dimessions of the array just check for the brackets we have array('[['1, 2, 3],
#       [4, 5, 6],
#       [7, 8, 9]])
#So here the brackets is 2, hence 2-D array with 3 rows and 3 columns

In [12]:
#arange

In [13]:
#Unlike the range function in numpy there is a function called arange, to remember we can simplify it as array of range means
# range function used to creare array (arange)

In [15]:
np.arange(0,11) #It has a start and a end range

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [16]:
#If we want only the even numbers then we can specify the 3rd argument step as 2
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

In [17]:
#If we want to create array of specific number then
np.zeros(3)

array([0., 0., 0.])

In [18]:
#It will create an array of 3 entires of 0

In [19]:
#We can also pass a tuple
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [20]:
#Here the first 3 represts the no. of rows and second 3 represents no.of columns

In [21]:
#We can use linspace for evenly spaced numbers between a certain range
np.linspace(0,10,5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [22]:
#Here first argument is start, second is stop and third is the no. of points we want

In [24]:
#Identical array

In [25]:
#We can also have identical array in which we will have a square array with samoe no of rows and columns and the diagonal is 1
# and rest all is zeros
np.eye(7)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [26]:
#We can also have the array of random numbers

In [27]:
#It gives us array of uniformly distibuted numbers from 0 to 1

In [28]:
np.random.rand(7)

array([0.72836095, 0.54234838, 0.5121016 , 0.05689475, 0.00423246,
       0.04525324, 0.0728763 ])

In [29]:
#If we want to have a 2-D array then we can like
np.random.rand(5,5)

array([[0.5374858 , 0.55362044, 0.37504526, 0.37559603, 0.24150264],
       [0.95813457, 0.05639754, 0.76819219, 0.6673175 , 0.11120617],
       [0.27837808, 0.4125704 , 0.27923818, 0.37284572, 0.08322011],
       [0.84680201, 0.63966765, 0.86607096, 0.24063229, 0.20589329],
       [0.72521169, 0.14224886, 0.86864078, 0.40771604, 0.30109031]])

In [33]:
#We also can have random integers not ranging 0-1
np.random.randint(0,1000,15)

array([303,   9, 620, 846, 754, 391, 908, 417, 707, 295,  25, 110, 187,
       158, 231])

In [34]:
#Here the 0 is the low and 1000 is the high and 15 is the no. of inputs we want

In [35]:
#reshape

In [36]:
#Let's say we have a 1-D array of 25 numbers
array1=np.arange(0,25)

In [37]:
array1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [38]:
#Now if I want ot reshape it 
array1.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [40]:
#Notice that to reshape we need to check that the total numbers should be same, like 5 rows and 5 columns make it as 25 which is
# the total lengh of array1 we have created

In [41]:
#min and max

In [42]:
#We can also find the min and max of an array
array1.min()

0

In [43]:
array1.max()

24

In [47]:
#We can also find the position of the min and max
array1.argmin()

0

In [48]:
array1.argmax()

24

In [50]:
#We can find the shape of the array also
array1.shape

(25,)

In [51]:
#Here 25, means 25 rows and 1 column, means the array is 1-D

In [52]:
#We can also find the datatype of the array
array1.dtype

dtype('int32')

In [53]:
#Indexing

In [54]:
#We can have the array indexing just like we have in list

In [55]:
array1[1]

1

In [57]:
#For a certain range unlike list we can have
array1[1:7]

array([1, 2, 3, 4, 5, 6])

In [58]:
#So all the slicing is same as list slicing which you can go ahead and check in the Introduction to python lecture, I will
# the link in the i button above and the description below

In [59]:
#Boradcasting

In [60]:
#We can broadcast the array like
array1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [61]:
array1[0:6]=55

In [62]:
array1

array([55, 55, 55, 55, 55, 55,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [63]:
#So here the index 0-6 changed to 55

In [64]:
#Let's see the indexing of a 2-D array

In [67]:
array2=np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]])

In [68]:
array2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [69]:
#There are 2 ways to do indexing here
#First one is
array2[0][0]

1

In [70]:
#The second and the most recommended on is:
array2[0,0]

1

In [73]:
#We can also slice and get a chunk of the 2-D array using the indexing
array2[:2,3:]

array([[ 4,  5],
       [ 9, 10]])

In [74]:
#Now let's break it down to understand better

In [76]:
array2[:2] #Here it includes all rows except row with index 2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [79]:
array2[:,3:] #It includes all the columns with index 3 onwards

array([[ 4,  5],
       [ 9, 10],
       [14, 15]])

In [80]:
#We can also have conditional array selection

In [81]:
array1

array([55, 55, 55, 55, 55, 55,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [82]:
#Let's create a boolean array
array1 > 20

array([ True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True,  True])

In [83]:
#We save it with a vaiable named bool_array1
bool_array1=array1 > 20

In [84]:
#Now we can use it to slice the original array
array1[bool_array1]

array([55, 55, 55, 55, 55, 55, 21, 22, 23, 24])

In [85]:
#It will show us all the values greater than 20

<h3>Arithmetic operations</h3>

In [86]:
#We can have arrays arithmetic operations

In [87]:
arr_sum=array1+array1
arr_sum

array([110, 110, 110, 110, 110, 110,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48])

In [88]:
#So here all the values in array1 gets doubled

In [89]:
arr_sub=array1-array1
arr_sub

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0])

In [91]:
arr_mul=array1*array1
arr_mul

array([3025, 3025, 3025, 3025, 3025, 3025,   36,   49,   64,   81,  100,
        121,  144,  169,  196,  225,  256,  289,  324,  361,  400,  441,
        484,  529,  576])

In [92]:
#We can also have
np.sqrt(array1) # and it will find the square root of each number in array

array([7.41619849, 7.41619849, 7.41619849, 7.41619849, 7.41619849,
       7.41619849, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766, 3.31662479, 3.46410162, 3.60555128, 3.74165739,
       3.87298335, 4.        , 4.12310563, 4.24264069, 4.35889894,
       4.47213595, 4.58257569, 4.69041576, 4.79583152, 4.89897949])

In [93]:
#if we do
np.exp(array1) # and it will find the exponent of each number in array

array([7.69478527e+23, 7.69478527e+23, 7.69478527e+23, 7.69478527e+23,
       7.69478527e+23, 7.69478527e+23, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03, 2.20264658e+04, 5.98741417e+04,
       1.62754791e+05, 4.42413392e+05, 1.20260428e+06, 3.26901737e+06,
       8.88611052e+06, 2.41549528e+07, 6.56599691e+07, 1.78482301e+08,
       4.85165195e+08, 1.31881573e+09, 3.58491285e+09, 9.74480345e+09,
       2.64891221e+10])

In [95]:
#We can also find the log of numbers in array
np.log(array1)

array([4.00733319, 4.00733319, 4.00733319, 4.00733319, 4.00733319,
       4.00733319, 1.79175947, 1.94591015, 2.07944154, 2.19722458,
       2.30258509, 2.39789527, 2.48490665, 2.56494936, 2.63905733,
       2.7080502 , 2.77258872, 2.83321334, 2.89037176, 2.94443898,
       2.99573227, 3.04452244, 3.09104245, 3.13549422, 3.17805383])